h1 {
    font-size: 63px;
    color: #ffffff;
}

h2 {
    font-size: 54px;
    font-weight: 600;
    color: #303030;
}

.carousel-caption h5 {
    font-size: 80px;
    color: #ffc107;
    text-shadow: 2px 2px 2px black;
}

footer p {
    font-size: 20px;
    text-align: center;
    margin-bottom: 5px;
}